<div class="container d-flex flex-column align-items-center justify-content-center text-center w-50 p-5">
    <div class="card shadow-lg p-4 align-items-center">
        <h2 class="text-success fw-bold">Payment Successful!</h2>
        <p class="lead">Thank you for your payment. Your transaction has been processed successfully.</p>
        <img src="https://cdn.dribbble.com/users/147386/screenshots/5315437/media/64a3a80eb03d6fe459abd7e7c1d889f9.gif"
            alt="Payment Success" class="img-fluid my-3 rounded w-50 ">
        <a href="/" class="btn btn-primary mt-3">Go to Dashboard</a>
    </div>
</div>